<%- include ("../templates/encabezado") %>
<%- include ("../templates/menuUsu") %>

<div class="container">
    <div class="card">
    <table class="table">
        <thead>
            <div class="card-header">
    <h2><center>Noticias</center></h2>
</div>
</thead>
<tbody>
    <div class="card-header">
    <% noticias.forEach((noticia) => { %>
        <tr>
     <td>  <h3><%= noticia.titulo %></h3> 
    <a href="#<%=noticia.id%>" class="btn btn-primary" data-bs-toggle="collapse">Abrir Noticia</a>
    <div id="<%=noticia.id%>" class="collapse">
       <p> <%= noticia.historia %></p>
        <p><img src="/imagesNoticia/<%=noticia.foto%> " alt="" width='250px'></p>
    </div></td>
   <td> <a href="/editarNoticia/<%= noticia.id %>">Editar</a>
    <a href="/borrarNoticia/<%= noticia.id %>">Borrar</a></td>
</tr>
    <% }); %> 
</div>
</tbody>
</table>
<div class="card-footer"></div>
</div>
  </div>
      

<%- include ("../templates/pie") %>